.subtitle {
    color: #011291;
}

li {
    list-style-type: circle;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10px;
    top: 230px;
    
}

img {
    width: 100%;
}