.subtitle {
    color: #011291;
}

li {
    list-style-type: circle;
}

.logo {
    position: absolute;
    width: 120px;
    height: 50px;
    right: 10px;
    top: 310px;
    
}

img {
    width: 80%;
}